html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

.nav {
	height: auto;
	position: sticky;
	top: 0;
	background-color: black;
}

.nav-item {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: white;
	padding-left: 1%;
	padding-right: 1%;
}

.nav-item:hover {
	color: black;
	background-color: white;
}

.nav-item:focus {
	outline: none;
}

.nav-item.title {
	padding-left: 2%;
	padding-right: 2%;
}

.nav-item.title:hover {
	background-color: black;
	color: white;
}