.nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: auto;
	position: sticky;
	top: 0;
	background-color: rgba(255,255,255,.3);
}

.nav-item {
	text-align: center;
	text-decoration: none;
	color: inherit;
}

.nav-item:hover {
	color: rgba(0,0,0,.3);
}

.nav-item:focus {
	outline: none;
}