#new-task {
	text-decoration: none;
	background-color: lightgray;
	padding: .5% 1%;
	border-radius: 2px;
	color: inherit;
}

#new-task:hover {
	background-color: black;
	color: white;
}

#new-task:focus {
	outline: none;
}

#list-wrapper {
	text-align: center;
}

#tasks-wrapper {
	display: grid;
	grid-template-columns: 15% 70% 15%;
	justify-items: middle;
}

#tasks-wrapper div {
	border: 1px solid black;
	border-radius: 5px;
}

.high {
	background-color: red;
}

.medium {
	background-color: yellow;
}

.low {
	background-color: green;
}