{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='css/new-task.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="form-wrapper">
	<form id="form" action="" method="POST">
		{{ form.hidden_tag() }}
		{{ form.text(placeholder=form.text.label.text) }}
		<div id="date">
			<p>Do By:</p>
			{{ form.do_by_date() }}
		</div>
		{{ form.do_by_time_h(placeholder="Hour") }}
		{{ form.do_by_time_m(placeholder="Minute") }}
		{{ form.priority() }}
		{{ form.submit() }}
	</form>
</div>
{% endblock %}